@font-face {
    font-family: 'OpenSans-Light';
    src: url('../assets/OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/OpenSans/OpenSans-Regular.ttf') format('truetype');
}


body {
    margin: 0;
    padding: 0;
    margin-top: 185px;
    background-color: #0E1414;
}

.container {
    display: flex;
    justify-content: center;
}

.column {
    max-width: 384px;
    max-height: 600px;
    margin: 0 12px;
}

.item {
    margin-bottom: 16px;
    color: white;
}

.primary-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'OpenSans-Light';
    border-bottom: 1px solid white;
    padding-bottom: 13px;
    font-weight: lighter;
    text-shadow: none;
    letter-spacing: 1px;
}

.primary-description {
    margin-top: 30px;
    font-size: 15.7px;
    font-family: 'OpenSans-Light';
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1.9;
}

.sub-header {
    margin-top: 47px;
    color: #D9183B;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'OpenSans-Regular';
    letter-spacing: 1px;
    font-weight: normal;
}

.sub-description {
    font-size: 16.5px;
    font-family: 'OpenSans-Regular';
    font-weight: Bold;
    letter-spacing: 1px;
    line-height: 2;
}

/* BLOCK 2 */

.block2{
    margin-bottom: 250px;
}

.header-block-2{
    margin-top: 210px;
    font-size: 42px;
    color: white;
    font-family: 'OpenSans-Light';
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.card{
    margin-bottom: 20px;
}

.card-header-block-2{
    font-family: 'OpenSans-Light';
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
}
.card-description-block-2{
    font-family: 'OpenSans-Light';
    font-size: 16px;
    color: #A6A6A6;
    line-height: 1.7;
}
.card-link-block-2{
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid #CF1430;
}

.card-img{
    border-bottom: 4px solid #CF1430; /* This will create a solid black bottom border with a thickness of 2 pixels */
}

@media screen and (max-width: 767px) {
    .container {
        margin: 20px 0;
        display: block;
        text-align: center;
    }
    .image{
        max-width: 100%;
        max-height: 100%;
        text-align: center;
    }
}
